<legend class="form__label mb-0">Date</legend>
<div class="input-container mb-0">
  <input
    required
    class="required date-input"
    type="text"
    id="datePicker"
    form="{{ product_form_id }}"
    name="properties[Date]"
    placeholder="Select a date">
  <i class="fas fa-calendar-alt"></i>
</div>

<fieldset class="js product-form__input">

  <legend class="form__label">Time</legend>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="09:00 AM"
    id="9am">
  <label class="radio_label" for="9am">09:00 AM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="10:00 AM"
    id="10am">
  <label class="radio_label" for="10am">10:00 AM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="11:00 AM"
    id="11am">
  <label class="radio_label" for="11am">11:00 AM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="12:00 AM"
    id="12am">
  <label class="radio_label" for="12am">12:00 AM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="01:00 PM"
    id="1pm">
  <label class="radio_label" for="1pm">01:00 PM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="02:00 PM"
    id="2pm">
  <label class="radio_label" for="2pm">02:00 PM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="03:00 PM"
    id="3pm">
  <label class="radio_label" for="3pm">03:00 PM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="04:00 PM"
    id="4pm">
  <label class="radio_label" for="4pm">04:00 PM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="05:00 PM"
    id="5pm">
  <label class="radio_label" for="5pm">05:00 PM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="06:00 PM"
    id="6pm">
  <label class="radio_label" for="6pm">06:00 PM</label>

  <input
    required
    class="required"
    type="radio"
    form="{{ product_form_id }}"
    name="properties[Time]"
    value="07:00 PM"
    id="7pm">
  <label class="radio_label" for="7pm">07:00 PM</label>

</fieldset>
